div > div.icon > i {
    font-family: helvetica;
    color: #73879C;
}


div.aktif {
    color: black;
    background-color:#19bc9d
}

div.aktif > div.icon > i {
    color: black;
}

div.aktif > h3
{
    color: black;
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}